doctype html
html(lang='en')
  head
    title.
      Utility to remove subscribers and outgoing requests
    link(rel='stylesheet', href='css/all.css')
  body
    header
      h3.name-title.
        Alexey Komov
    main
